[Unit]
Description=Lighttpd web-server
After=syslog.target network.target

[Service]
PrivateTmp=false
ExecStart=/usr/sbin/lighttpd-angel -D -f /etc/lighttpd/lighttpd.conf
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
